* {
	box-sizing: border-box;
}

body {
	--background-color: #111;
	--text-color: #fff;
	--text-color-dimmed: #a4a4a4;

	--primary-color: #5af0a4;
	--secondary-color: #c9a6a4;
	--primary-color-dimmed: #5af0a455;

	--header-height: 55px;

	--side-width: 260px;
	--max-main-width: 600px;
	--min-main-width: 300px;

	background-color: var(--background-color);

	color: var(--text-color);
	margin: 0;

	line-height: 1.5em;
}

h1 {
	margin: 1.2em 0 1.2em 0;
}

a {
	color: var(--primary-color);
}

img {
	border-radius: 10px;
}

button.icon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--header-height);
	height: var(--header-height);
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: var(--text-color);
}

input {
	background-color: var(--background-color);
	border: 1px solid var(--primary-color-dimmed);
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	color: var(--text-color);
}

button {
	background-color: var(--primary-color);
	border: none;
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	cursor: pointer;
	text-transform: uppercase;
}