* {
	box-sizing: border-box;
}

body {
	--background-color: #113d4d;
	--header-background-color: #295565;
	--text-color: #fff;
	--text-color-dimmed: #a4a4a4;
	--text-color-dimmed: #adadbc;
	--text-color-dimmed-dark: #5f5f5f;

	--primary-color: #bffbf2;
	--secondary-color: #ddb7b4;
	--primary-color-dimmed: #bffbf255;

	--card-background-color: #092631;

	--line-color: #4f5260;
	--warning-red-color: #f05a5a;
	--warning-yellow-color: #f0f05a;

	--header-height: 55px;
	--footer-height: 65px;

	--side-width: 260px;
	--max-main-width: 600px;
	--min-main-width: 400px;

	background-color: var(--background-color);

	color: var(--text-color);
	margin: 0;

	line-height: 1.6em;

	font-family: monospace;
	font-size: 1.1em;

	/*overflow: hidden;*/
}

header {
  display: flex;
  background-color: var(--header-background-color);
}

header nav ul {
  list-style-type: none;
  padding-left: 25px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  /* min-height: calc(100vh - var(--header-height) - var(--footer-height)); */
}

main {
  width: var(--max-main-width);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

h1 {
	margin: 1.2em 0 1.2em 0;
}

a {
	color: var(--primary-color);
	word-wrap: break-word;
}

pre {
	padding: 20px;
  background-color: var(--card-background-color);
  color: var(--text-color-dimmed);
  border-radius: 5px;
  border: 1px solid var(--primary-color-dimmed);
  overflow-x: auto;
}

/* img {
	border-radius: 10px;
} */

/* button.icon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--header-height);
	height: var(--header-height);
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: var(--text-color);
} */

/* input {
	background-color: var(--card-background-color);
	border: 1px solid var(--primary-color-dimmed);
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	color: var(--text-color);
} */

/* textarea {
	background-color: var(--card-background-color);
	border: 1px solid var(--primary-color-dimmed);
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	color: var(--text-color);
} */

/* button {
	background-color: var(--primary-color);
	border: none;
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	cursor: pointer;
	text-transform: uppercase;
}

button.small-button {
	padding: 5px;
	border-radius: 5px;
	font-size: 0.8em;
}

button.secondary-button {
	background-color: var(--card-background-color);
	color: var(--primary-color);
}

button.danger-button {
	background-color: var(--warning-red-color);
	color: var(--text-color);
}

button:focus {
	outline: 3px solid var(--secondary-color);
} */

footer {
  background-color: var(--card-background-color);
  color: var(--text-color-dimmed);
  text-align: center;
  padding: 10px;
  /* height: var(--footer-height); */
}

.last-modified {
	padding-top: 20px;
	padding-bottom: 20px;
  display: block;
}

.text-dimmed {
  color: var(--text-color-dimmed);
}

/* a:focus {
	outline: 3px solid var(--secondary-color);
} */

/* aside {
  margin-top: var(--header-height);
  width: var(--side-width);
  border-left: 1px solid var(--primary-color-dimmed);
  position: fixed;
  top: 0;
  left: 100vw;
  min-height: calc(100vh - var(--header-height));
  transition: left 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  z-index: 120;
  visibility: hidden;
}
aside.shown {
  left: calc(100vw - var(--side-width));
  visibility: visible;
}
aside nav:where() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
aside nav:where() ul:where() {
  list-style-type: square;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 0 20px 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
aside footer:where() {
  padding: 10px;
  text-align: center;
  color: var(--text-color-dimmed);
} */

/* .warning {
	color: var(--warning-yellow-color);
}

.tag-list {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.tag {
	padding: 5px;
	background-color: var(--header-background-color);
	border-radius: 10px;
} */
