<h1>Cheat sheets</h1>

<p>A collection of useful code snippets and commands etc.</p>

<details>
  <summary><small><b>DISCLAIMER</b></small></summary>
  <p><small><b>Use at your own risk</b>.</small></p>
</details>

{{if .Locals.LoggedIn}}
  <p><a href="/edit-entry/new?ref=/cheatsheets&type=cheatsheet">New entry</a></p>
{{end}}

<div class="entry-list">
  {{range .Entries}}
    <div class="entry-item">
      <div class="entry-item-l">
        <a href="/entry/{{.Id}}">{{.Title}}</a>
        {{if .Private}}
          <span class="private-label">&#x1F512;<small>Private</small></span>
        {{end}}
        <div class="tag-list">
          {{range .Tags}}
            <div class="tag" style="color: {{ .Color }}; border-color: {{ .Color }};"><small><strong>{{.Name}}</strong></small></div>
          {{end}}
        </div>
      </div>
      {{if $.Locals.LoggedIn}}
        <div class="entry-item-r">
          <a href="/edit-entry/{{.Id}}?ref=/cheatsheets">Edit</a>
        </div>
      {{end}}
    </div>
  {{end}}
</div>
