<h1>Welcome to reboot.li</h1>

<p>This is the 1&#39;938&#39;489&#39;483th iteration of my personal website.
Why it is like this, I don&#39;t know. Well, maybe because I use this
as a playground for experimentation and trying out new stuff.</p>
<p>My name is Cem. I&#39;m a web dev, kinda, and sysadmin, maybe?</p>
<p><img src="/static/me-small.jpeg" alt="small false color colorized portray photo"></p>
<p>I&#39;m 40+, yikes.</p>
<p>My pronouns are <em>he/him</em>.</p>
<h2>Links</h2>
<ul>
<li><a href="https://github.com/rebootl">Github</a></li>
<li><a href="https://www.twitch.tv/rebootl">Twitch</a></li>
<li><a href="https://lichess.org/@/rebootl">Lichess</a></li>
</ul>
