* {
	box-sizing: border-box;
}

body {
	--background-color: #111;
	--text-color: #fff;

	--primary-color: #5af0a4;
	--secondary-color: #c9a6a4;

	--header-height: 55px;

	--side-width: 260px;
	--max-main-width: 600px;
	--min-main-width: 300px;

	background-color: var(--background-color);

	color: var(--text-color);
	margin: 0;

	line-height: 1.5em;
}

h1 {
	margin: 1.2em 0 1.2em 0;
}

a {
	color: var(--primary-color);
}

img {
	border-radius: 10px;
}