<script src="/static/confirm-submit.js" type="module"></script>

<h1>{{ .Title }}</h1>

<form method="POST" action="/update-link-category" id="edit-link-category-form">
  <input type="hidden" name="id" value="{{ .LinkCategory.Id }}" />
  <input type="text" name="name" placeholder="Name" value="{{ .LinkCategory.Name }}" />
  <div class="buttons">
    <div>
      <button>Save</button>
      <a href="/edit-link-categories">Cancel</a>
    </div>
    <confirm-submit replaceAction="/delete-link-category" message="Are you sure you want to delete this link category?">
      <button type="button" class="danger-button">Delete</button>
    </confirm-submit>
  </div>
</form>
