<script src="/static/confirm-submit.js" type="module"></script>

<h1>{{ .Title }}</h1>

<form method="POST" action="/update-tag" id="edit-tag-form">
  <input type="hidden" name="id" value="{{ .Tag.Id }}" />
  <input type="text" name="name" placeholder="Name" value="{{ .Tag.Name }}" />
  <input type="color" name="color" value="{{ .Tag.Color }}" />
  <div class="buttons">
    <div>
      <button>Save</button>
      <a href="/edit-tags">Cancel</a>
    </div>
    {{/* NOTE: check here because it could be a new entry */}}
    {{if gt .Tag.Id 0 }}
      <confirm-submit replaceAction="/delete-tag" message="Are you sure you want to delete this tag?">
        <button type="button" class="danger-button">Delete</button>
      </confirm-submit>
    {{end}}
  </div>
</form>
