<script src="/static/multi-selector.js" type="module"></script>
<script src="/static/confirm-submit.js" type="module"></script>

<h1>{{ .Title }}</h1>

<form method="POST" action="/update-entry">
  <input type="hidden" name="id" value="{{ .Entry.Id }}" />
  <input type="hidden" name="ref" value="{{ .Ref }}" />
  <input type="hidden" name="type" value="{{ .Type }}" />
  <input type="text" name="title" placeholder="Title" value="{{ .Entry.Title }}" />
  <textarea name="content" placeholder="Text...">{{ .Entry.Content }}</textarea>
  <div>
    <label>
      <input type="checkbox" name="private" {{ if .Entry.Private }}checked{{ end }} />
      Private
    </label>
    <label>
      <input type="checkbox" name="version" {{if gt .Entry.Id 0}}checked{{else}}disabled{{end}} />
      Save version (previous state)
    </label>
  </div>

  <multi-selector>
    <label>
      Tags:
      <select class="item-selector">
        {{range .AllTags}}
          <option value="{{.Tag.Name}}">{{.Tag.Name}}</option>
        {{end}}
      </select>
    </label>
    <button class="add-button small-button secondary-button">Add</button>
    <select name="tags" class="multi-select" multiple style="display: none;">
      {{range .AllTags}}
        <option value="{{.Tag.Name}}" {{if .Selected}}selected{{end}}>{{.Tag.Name}}</option>
      {{end}}
    </select>
    <ul class="selected-items">
      {{range .AllTags}}
        {{if .Selected}}
          <li class="selected-item">
            <span>{{.Tag.Name}}</span>
            <button class="remove-button small-button secondary-button" data-item-name="{{.Tag.Name}}">X</button>
          </li>
        {{end}}
      {{end}}
    </ul>
  </multi-selector>

  <div class="buttons">
    <div>
      <button>Save</button>
      <a href="{{ .Ref }}">Cancel</a>
    </div>
    <confirm-submit replaceAction="/delete-entry" message="Are you sure you want to delete this entry?">
      <button type="button" class="danger-button">Delete</button>
    </confirm-submit>
  </div>
</form>

{{/* NOTE: check here because it could be a new entry */}}
{{if gt .Entry.Id 0 }}
  <p><small class="text-dimmed">Last modified: {{ .ModifiedAt }}</small></p>
{{end}}

{{/* TODO: make this a block */}}
<div class="tag-list margin-top">
  {{range .Entry.Tags}}
    <div class="tag"><small>{{.Name}}</small></div>
  {{end}}
</div>
