<h1>{{.Title }}</h1>

{{if .IsVersion}}
  <p><small class="text-dimmed">NOTE: You're viewing a previous version of this entry.<br>
  <a href="/entry/{{.Id}}">View current page.</a></small></p>
{{end}}

{{if .LoggedIn}}
  <div class="entry-item-r">
    <a href="/edit-entry/{{.Id}}?ref=/entry/{{.Id}}">Edit</a>
  </div>
{{end}}

{{ .Content }}

<p><small class="text-dimmed">Last modified: {{ .ModifiedAt }}</small></p>

{{if gt (len .VersionIds) 0}}
  <p><small class="text-dimmed">
    Previous versions:
    {{range .VersionIds}}
        <a href="/entry/{{$.Id}}?version={{.}}">{{.}}</a>
    {{end}}
  </small></p>
{{end}}

{{/* TODO: make this a block */}}
{{if gt (len .Tags) 0}}
  <div class="tag-list margin-top">
    {{range .Tags}}
      <div class="tag" style="color: {{ .Color }}; border-color: {{ .Color }}; background-color: {{ .Color }}30;">
        <small><strong>{{.Name}}</strong></small>
      </div>
    {{end}}
  </div>
{{end}}
