<h1>{{.Title }}</h1>

{{if .IsVersion}}
  <p><small class="text-dimmed">NOTE: You're viewing a previous version of this entry.<br>
  <a href="/entry/{{.Id}}">View current page.</a></small></p>
{{end}}

{{if .LoggedIn}}
  {{if .IsVersion}}
    <script src="/static/confirm-submit.js" type="module"></script>

    <form method="POST" action="/delete-version" id="delete-version-form">
      <input type="hidden" name="id" value="{{.Id}}">
      <input type="hidden" name="version" value="{{.Versions.Current}}">
      <div>
        <confirm-submit message="Are you sure you want to delete this version?">
          <button type="button" class="danger-button small-button">Delete this version</button>
        </confirm-submit>
      </div>
    </form>
  {{else}}
    <div class="entry-item-r">
      <a href="/edit-entry/{{.Id}}?ref=/entry/{{.Id}}">Edit</a>
    </div>
  {{end}}
{{end}}

{{ .Content }}

<p><small class="text-dimmed">Last modified: {{ .ModifiedAt }}</small></p>

{{/* first previous next last versions handler */}}

{{if gt (len .Versions.VersionIds) 0}}
  <p><small class="text-dimmed">
    Versions:
    {{if .Versions.Previous}}
      <a href="/entry/{{$.Id}}?version={{.Versions.Previous}}">Previous</a>
    {{end}}
    {{if .Versions.Next}}
      <a href="/entry/{{$.Id}}?version={{.Versions.Next}}">Next</a>
    {{end}}
    {{if .IsVersion}}
      <a href="/entry/{{.Id}}">Current</a>
    {{end}}
  </small></p>
{{end}}

{{/* TODO: make this a block */}}
{{if gt (len .Tags) 0}}
  <div class="tag-list margin-top">
    {{range .Tags}}
      <div class="tag" style="color: {{ .Color }}; border-color: {{ .Color }}; background-color: {{ .Color }}30;">
        <small><strong>{{.Name}}</strong></small>
      </div>
    {{end}}
  </div>
{{end}}
