{{define "content"}}
<h1>{{.Title}}</h1>

{{.Content}}

<p></p>

<details>
  <summary><small><b>Contents</b></small></summary>
  <ol>
    {{range .LinkCategories}}
      <li>
          <a href="#{{.Name}}">{{.Name}}</a>
      </li>
    {{end}}
  </ol>
</details>

{{if .LoggedIn}}
  <p><a href="/edit-entry/{{.Id}}?ref=/links">Edit</a></p>
  <p><a href="/edit-link/new">New link</a></p>
{{end}}

{{range .LinkCategories}}
  <h2>{{.Name}}<a name="{{.Name}}"></a></h2>
  <ul class="link-list">
    {{range .Links}}
      <li>
        <div>
          <a href="{{.Url}}" target="_blank" class="link">{{.Title}}</a>
          {{if $.LoggedIn}}
            <a href="/edit-link/{{.Id}}">Edit</a>
          {{end}}
        </div>
        {{if .Comment}}
          <span class="link-comment"><small>Comment: {{.Comment}}</small></span>
        {{end}}
      </li>
    {{end}}
  </ul>
{{end}}
{{end}}{{/* define "content" */}}
